docs/~$reJava.docx
**/.metadata/**
**/.classpath
**/.project
**/bin/**
**/.sonarlint/**
**/**.class
**/.recommenders/**
**/.settings/**
**/Servers/**
**/.mvn/**
docs/~WRL0003.tmp
docs/~WRL0896.tmp
docs/~WRL0005.tmp
docs/~WRL0259.tmp
docs/~WRL2020.tmp
docs/~WRL1783.tmp
docs/~WRL3288.tmp
docs/~WRL3808.tmp
docs/~WRL0369.tmp
docs/~WRL1914.tmp
